.App {
  background-color: #132b5a;
  color: white;
  /*text-align: center;*/
}

/*Removing the underline from all of the links.*/
a, a.visited, a.hover, a.active {
  text-decoration: none;
  color: black;
}

/*Removing bullet points from lists*/
li {
  list-style: none;
}

.App-header {
  background-color: #132b5a;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > .flex-container {
  align-content: center;
}

.App-header > .flex-container > div {
  display: flex;
}

.App-header > .flex-container > div > div {
  width: 50vw;
  height: 50vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: #134F5A;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar > li {
  width: 100px;
  margin: 50px;
  text-align: center;
  flex-direction: column;
  color: black;
}


