.body {
  background-image: url("images/background.webp");
  background-color: lightgrey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

/*Removing the underline from all of the links.*/
a, a.visited, a.hover, a.active {
  text-decoration: none;
  color: black;
}

/*Removing bullet points from lists*/
li {
  list-style: none;
}

.nav {
  font-size: calc(10px + 2vmin);
}